<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Admin Panel</h2>
            <p>Welcome Master</p>
        </div>

        <div class="row">


            <div class="col-12  d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="100">
               
                <div class="icon-box m-3">
                    <div class="icon text-center">
                        <i class="bi bi-eye"></i>
                    </div>
                    <h4 data-toggle="collapse" data-target="#collapseExample">
                        <a href="javascript:void(0)"> Create Exercise</a>
                    </h4>
                    <div id="collapseExample" class="collapse">
                        <a class="btn-get-started" href="/Admin/CreateExerciseExerciseDay">
                            CreateExerciseExerciseDay
                        </a>
                        <a class="btn-get-started" href="/Admin/CreateExerciseDay">
                            CreateExerciseDay
                        </a>
                        <a class="btn-get-started" href="/Admin/CreateExercise">
                            CreateExercise
                        </a>
                    </div>
                </div>

                <div class="icon-box m-3">
                    <div class="icon text-center">
                        <i class="bi bi-eye"></i>
                    </div>
                    <h4 data-toggle="collapse" data-target="#collapseExample">
                        <a href="javascript:void(0)"> Create Role</a>
                    </h4>
                    <div id="collapseExample" class="collapse">
                        <a class="btn-get-started" href="/AppRoles/Index">
                            Role Page
                        </a>
                        <a class="btn-get-started" href="/AppRoles/Create">
                            Create
                        </a>
                        <a class="btn-get-started" href="/AppRoles/UpdateRole">
                            Update Role
                        </a>
                    </div>
                </div>

                <div class="icon-box m-3">
                    <div class="icon text-center">
                        <i class="bi bi-eye"></i>
                    </div>
                    <h4 data-toggle="collapse" data-target="#collapseExample">
                        <a href="javascript:void(0)"> Create Product</a>
                    </h4>
                    <div id="collapseExample" class="collapse">
                        <a class="btn-get-started" href="/Product/Index">
                            Product Page
                        </a>
                        <a class="btn-get-started" href="/Product/Create">
                            Create Product
                        </a>
                    </div>
                </div>

                <div class="icon-box m-3">
                    <div class="icon text-center">
                        <i class="bi bi-eye"></i>
                    </div>
                    <h4 data-toggle="collapse" data-target="#collapseExample">
                        <a href="javascript:void(0)"> Create Story</a>
                    </h4>
                    <div id="collapseExample" class="collapse">
                        <a class="btn-get-started" href="/Stories/Index">
                            Story Page
                        </a>
                        <a class="btn-get-started" href="/Stories/Create">
                            Create Story
                        </a>                        
                    </div>
                </div>



            </div>
        </div>
            
        
    </div>
</section>
