<div class="container mt-5">
    <h1>ReaderFast Privacy Policy</h1>

    <h2>Definitions</h2>
    <ul>
        <li><strong>Site</strong> refers to the ReaderFast website and all services offered on this website.</li>
        <li><strong>User</strong> refers to anyone visiting our site and/or utilizing our services.</li>
        <li><strong>Information</strong> pertains to both personal and non-personal data.</li>
    </ul>

    <h2>Information Collection</h2>
    <ul>
        <li>The Site collects information provided by the user during registration or while using our services.</li>
        <li>The Site also automatically collects information about how users use the site (e.g., IP addresses, browser types).</li>
    </ul>

    <h2>Use of Information</h2>
    <ul>
        <li>We may use the information collected to deliver our services, resolve issues, and enhance the user experience.</li>
        <li>Information can also be used for processing payment transactions and for notifying about promotions and updates.</li>
    </ul>

    <h2>Information Sharing</h2>
    <ul>
        <li>We do not share, sell, or distribute your personal information to third parties.</li>
        <li>However, we may disclose your information for legal requirements, compliance with site policies, or to protect our rights.</li>
    </ul>

    <h2>Security</h2>
    <p>We employ industry-standard security measures to protect user information. However, no security measure is entirely safe, and thus we cannot guarantee the security of your information.</p>

    <h2>Cookies</h2>
    <p>The Site may use cookies to improve user experience and gather statistical information. Users can block or control cookies through their browser settings.</p>

    <h2>Changes</h2>
    <p>We reserve the right to make changes to the privacy policy. Users will be informed of any changes made.</p>

    <h2>Contact</h2>
    <p>For any questions or concerns about our privacy policy, please contact us at <a href="mailto:[info@readerfast.com]">[info@readerfast.com]</a>.</p>

</div>
