<div class="container mt-5">
    <h1>Distance Sales Agreement</h1>

    <h2>Seller Information:</h2>
    <ul>
        <li><strong>Name:</strong> İsa Öztürk</li>
        <li><strong>Tax Office:</strong> Uluçınar</li>
        <li><strong>Email:</strong> <a href="mailto:[Email Address]">info@readerfast.com</a></li>
    </ul>

    <h2>Buyer Information:</h2>
    <ul>
        <li>Name/Surname:</li>
        <li>Address:</li>
        <li>Phone:</li>
        <li>E-mail:</li>

    </ul>
   
    <h2>Product Subject to the Contract:</h2>
    <ul>
        <li><strong>Digital Product Name:</strong> [Digital Product Name]</li>
        <li><strong>Price:</strong> [Price]</li>
    </ul>

    <h3>Parties:</h3>
    <p>This agreement is arranged between the seller and the buyer, specified in the information above, regarding the sale and delivery of the digital product purchased electronically through the seller's website.</p>

    <h3>Product Subject to the Agreement:</h3>
    <p>The name, type, quantity, price, and payment details of the product are as indicated on the order form. Prices include VAT.</p>

    <h3>Delivery and Execution:</h3>
    <p>The digital product, which is the subject of the agreement, is delivered to the email address or user account specified by the buyer in the order form within a maximum of 24 hours from the date of sale.</p>
    <p>There is no physical delivery of the products.</p>
    <h3>Right of Withdrawal:</h3>
    <p>The buyer accepts and declares that they cannot exercise the right of withdrawal before the delivery of the digital content. The buyer loses the right of withdrawal once the digital product is delivered.</p>

    <h3>Price and Payment:</h3>
    <p>The buyer pays the product price in full to the seller using the chosen payment method. Payments can be made via credit card, bank transfer, or other payment methods.</p>

    <h3>Refund and Membership Cancellation</h3>
    <p>In any case, the membership may be canceled without informing the user and no refund will be given. Since the product is a digital product, it cannot be refunded.</p>

    <h3>Privacy:</h3>
    <p>The personal information of the buyer is used only as required by the order and is not shared with third parties.</p>

    <h3>Applicable Provisions:</h3>
    <p>This agreement is subject to the laws of the Republic of Turkey.</p>

    <h3>Communication:</h3>
    <p>In case of any disputes between the parties, the aforementioned address of the seller will be taken as the basis.</p>

</div>
