<div class="container mt-5">
    <h1>ReaderFast User Agreement</h1>

    <h2>Definitions</h2>
    <ul>
        <li><strong>Site</strong> refers to the ReaderFast website and all services offered on this website.</li>
        <li><strong>User</strong> refers to anyone visiting our site and/or utilizing our services.</li>
    </ul>

    <h2>Use of Service</h2>
    <ul>
        <li>By using our site, the user is considered to have accepted all terms of this agreement.</li>
        <li>Users can use the site content and services for personal and non-commercial purposes only.</li>
    </ul>

    <h2>Membership and Payment</h2>
    <ul>
        <li>When purchasing a premium membership on the site, the user will have access to premium features for the specified duration.</li>
        <li>In case of any payment discrepancies, incomplete payments, or cancellations, access to the premium service may be suspended.</li>
    </ul>

    <h2>Content and Copyrights</h2>
    <ul>
        <li>All content on the site is protected by copyright.</li>
        <li>Users cannot copy, distribute, or otherwise use the site content without permission.</li>
    </ul>

    <h2>Responsibilities</h2>
    <ul>
        <li>Users are obliged to act in accordance with the laws of the Republic of Turkey when using the site.</li>
        <li>Each user is responsible for their own password and account security.</li>
    </ul>

    <h2>Changes and Updates</h2>
    <p>ReaderFast reserves the right to make changes to this user agreement at any time. Users will be informed of any changes made.</p>

    <h2>Contact</h2>
    <p>For any questions or concerns related to the user agreement, please contact us at <a href="mailto:[info@readerfast.com]">[info@readerfast.com]</a>.</p>

</div>
