
    <div class="payment-success mt-5">
        <div class="check-mark mt-5">&#10004;</div>
        <p>Your payment has been successfully received.</p>
    <button class="btn btn-success" onclick="window.location.href='/Home/index';">Return to Home Page</button>

    </div>

