@using Microsoft.AspNetCore.Identity
@using ReaderFast.webui.Areas.Identity.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var isAdmin = false;
    if (SignInManager.IsSignedIn(User))
    {
        var user = UserManager.GetUserAsync(User).Result;
        isAdmin = UserManager.IsInRoleAsync(user, "Admin").Result;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] | ReaderFast</title>
    <meta content="Improve your reading speed and boost your memory with effective exercises designed by ReaderFast. Start enhancing your skills today!" name="description">
    <meta content="fast reading, reading exercises, memory improvement, speed reading, improve memory, reading speed, memory exercises, ReaderFast" name="keywords">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="~/lib/img/readerfastlogo.png" rel="icon">


    <!-- Vendor CSS Files -->
    <link href="~/css/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/css/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">



    <link href="~/css/vendor/aos/aos.css" rel="stylesheet">
    <link href="~css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~css/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/Reade" asp-append-version="true" />

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQ4G5NZCPV"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-ZQ4G5NZCPV');
</script>

<body>

    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a asp-area="" asp-controller="Home" asp-action="Index">ReaderFast(Beta)</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">

                <ul>


                    @if (isAdmin)
                    {
                        <li><a class="getstarted scrollto" asp-controller="Admin" asp-action="Index">Admin</a></li>
                    }
                    <li class=""><a class="getstarted scrollto" asp-controller="Exercise" asp-action="MainPage">Exercises</a></li>

                    @if (!User.IsInRole("PremiumUser"))
                    {
                        <li class="d-none"><a class="getstarted scrollto" asp-controller="Membership" asp-action="Checkout">Go premium</a></li>
                    }
                    <!-- Dil seçici Dropdown menüsü -->
                    <li class="getstarted nav-item dropdown">
                        <a class="nav-link dropdown-to p-0" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
                                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855q-.215.403-.395.872c.705.157 1.472.257 2.282.287zM4.249 3.539q.214-.577.481-1.078a7 7 0 0 1 .597-.933A7 7 0 0 0 3.051 3.05q.544.277 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9 9 0 0 1-1.565-.667A6.96 6.96 0 0 0 1.018 7.5zm1.4-2.741a12.3 12.3 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332M8.5 5.09V7.5h2.99a12.3 12.3 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.6 13.6 0 0 1 7.5 10.91V8.5zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741zm-3.282 3.696q.18.469.395.872c.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a7 7 0 0 1-.598-.933 9 9 0 0 1-.481-1.079 8.4 8.4 0 0 0-1.198.49 7 7 0 0 0 2.276 1.522zm-1.383-2.964A13.4 13.4 0 0 1 3.508 8.5h-2.49a6.96 6.96 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667m6.728 2.964a7 7 0 0 0 2.275-1.521 8.4 8.4 0 0 0-1.197-.49 9 9 0 0 1-.481 1.078 7 7 0 0 1-.597.933M8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855q.216-.403.395-.872A12.6 12.6 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.96 6.96 0 0 0 14.982 8.5h-2.49a13.4 13.4 0 0 1-.437 3.008M14.982 7.5a6.96 6.96 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008zM11.27 2.461q.266.502.482 1.078a8.4 8.4 0 0 0 1.196-.49 7 7 0 0 0-2.275-1.52c.218.283.418.597.597.932m-.488 1.343a8 8 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z" />
                            </svg> <!-- İkon eklendi -->
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                            <!-- Form, dropdown menüsü içinde bulunacak -->
                            <form id="selectLanguage" asp-action="SetLanguage" asp-controller="Home" asp-route-returnUrl="@Context.Request.Path" method="post" role="form">
                            <li><button type="submit" name="culture" value="en-US" class="dropdown-item">English</button></li>
                            <li><button type="submit" name="culture" value="tr-TR" class="dropdown-item">Türkçe</button></li>
                            <!-- Diğer dilleri bu şekilde ekleyebilirsiniz -->
                            </form>
                        </ul>
                    </li>


                    <li class="partial"><partial name="_LoginPartial.cshtml" /></li>


                </ul>
                <i class="mobile-nav-toggle bi bi-list"></i>

            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->



    <main id="main" class="mt-5 pt-2">

        @RenderBody()


    </main><!-- End #main -->
    <footer id="footer" class="mt-5">
        <div class="footer-top mt-5">
            <div class="container ">
                <div class="row justify-content-center">

                    <div class="col-lg-3 col-md-4 footer-contact">
                        <h3>ReaderFast</h3>
                        <p>
                            <strong>Email:</strong> info@readerfast.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Support/SalesAgreement">Distance Sales Agreement</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Support/UserAgreement">User Agreement</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Support/PrivacyPolicy">Privacy policy</a></li>

                        </ul>
                    </div>



                    <div class="col-lg-3 col-md-4 footer-links">
                        <h4>Our Social Networks</h4>

                        <div class="social-links mt-1">
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-twitter"></i></a>
                        </div>



                    </div>

                </div>
            </div>
        </div>
        <div class="container footer-bottom clearfix">
            <div class="copyright text-center">
                &copy; Copyright <strong><span>ReaderFast</span></strong>. All Rights Reserved
            </div>

        </div>

    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- Eğer bu kütüphaneleri lokal olarak barındırmak istiyorsanız yolları güncelleyin -->
    <script src="~/css/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/css/vendor/glightbox/js/glightbox.min.js"></script>



    <script src="~/css/vendor/aos/aos.js"></script>
    <script src="~/css/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/css/vendor/waypoints/noframework.waypoints.js"></script>

    <script src="~/js/main.js" asp-append-version="true"></script>
    <script>
        function setLanguage(culture) {
            document.cookie = ".AspNetCore.Culture=" + culture + ";path=/;expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();
            location.reload();
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
