@{
    ViewBag.Title = "Üyelik Gerekiyor";
}

<h2>Üyelik Gerekiyor</h2>
<p>İstediğiniz sayfaya erişebilmek için üye olmanız gerekiyor.</p>
<a href="/Identity/Account/Register">Üye Ol</a> veya <a href="/Identity/Account/Login">Giriş Yap</a>
