@model string

<style>
    .alert-custom {
        border-radius: 1rem; /* Kenarlık yuvarlaklığı */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif bir gölge */
        padding: 1rem 1.5rem; /* İç boşluk */
        align-items: center; /* İçerik ve butonu dikey ortalar */
    }

        .alert-custom .btn-close {
            flex-shrink: 0; /* Butonun boyutunu korur */
        }

        .alert-custom .alert-message {
            flex-grow: 1; /* Mesajın kutuyu doldurmasını sağlar */
            margin-right: 1rem; /* Buton ile mesaj arasında boşluk */
        }

</style>
@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "alert-danger" : "alert-success";
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="@($"alert {statusMessageClass} alert-custom ")" role="alert">
                <span class="alert-message">@Model</span>
                <div class="mt-4 text-center">
                    <a href="/" class="btn">Home</a>
                </div>
            </div>
        </div>
    </div>
}
