@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
}


<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body p-5">
                    <h1 class="card-title text-center mb-4">@ViewData["Title"]</h1>
                    <h2 class="h4 mb-4 text-center">Enter your email to resend the confirmation link.</h2>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger mb-3" role="alert"></div>
                        <div class="form-floating mb-4">
                            <input asp-for="Input.Email" class="form-control" id="inputEmail" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">Email address</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg w-100">Resend Confirmation Link</button>
                    </form>
                </div>
            </div>
            <p class="text-center mt-3">If you do not see the email, be sure to check your spam or junk folder.</p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

